<div class="container">
  <div class="row">
    <h3>会員情報編集</h3>
    <%= form_with model: customer, local: true do |f| %>
      <div class="form-group">
        <%= f.label :氏名 %>
        <%= %>
      </div>
    <% end %>
  </div>
</div>