<div class='top-bg px-5 px-sm-0'>



      <div class="top-message d-flex align-items-center justify-content-center" style="height:300px;">
        <div class="row">
          <div class="welcome-messge">
            ようこそ、ながのCAKEへ！<br>
          </div>
          <div class="welcome-message-content">
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
          </div>
        </div>
      </div>

      <div class="text-center">
        <div class="item-link">
          <%= link_to items_path do %>
            <i class="fas fa-running"></i>商品ページへ
          <% end %>
        </div>
        <span class="new-item">新着商品</span>
      </div>

      <div class="item-image-slide">
        <% @items.each do |item| %>
          <div class="slide-item">
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag item, :image, class:'sample-image'%>
            <% end %>
          </div>
        <% end %>
      </div>






  </div>
</div>
