/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


header{
  height: 100px;
	background-image: image-url("cake_2_black.jpg");
	background-size: cover;
	background-position: center;
}

.header-nav {
  display: none;
}

@media screen and (max-width: 765px) {
  .header-nav {
    display: inline-block;
  }
  
  .nav-left {
    display: none;
  }
}

footer{
  height: 100px;
	background-image: image-url("cake_2_black.jpg");
	background-size: cover;
	background-position: bottom;
}

li {
  list-style: none;
}

.footer-bottom{
  font-size: 13px;
}


.item_new{
  display:flex;
  flex-wrap:wrap;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
  background-image: url(img/apple-pie-5479993_1920.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}



.item_visual{
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  height: 200px;
  margin:10px;
}

.item_amount{
  margin:10px;
}



.sample-image {
  height: 400px;
  width :100%;
}

.top-bg {
  background-image: image-url("ec1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}