.top-message, .new-item, .about-text {
  font-family: 'Quicksand', sans-serif;
}

.message-content {
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
  line-height : 1.8;
}

.message-content:before, .message-content:after {
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px black;
  border-radius: 50%;
}

.message-content:after {
  top:-12px;
  left:-12px;
}

.message-content:before {
  bottom:-12px;
  right:-12px;
}

.new-item {
  font-size: 20px;
}





