.top-message, .new-item, .about-text {
  font-family: 'Quicksand', sans-serif;
}

.message-content {
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px black;
  border-radius: 3px 0 3px 0;
  line-height : 1.8;
  font-size: 1.1rem;
}

.message-content:before, .message-content:after {
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #ff006f;
  border-radius: 50%;
}

.message-content:after {
  top:-12px;
  left:-12px;
}

.message-content:before {
  bottom:-12px;
  right:-12px;
}

.new-item {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
}

.new-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
}

.item-link {
  margin-bottom: 70px;

}

.item-link a {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
  color: black;
  background: linear-gradient(transparent 70%, #ff006f 70%);
}

